.root {
    -fx-background-color: #faf8ef; 
}
.vbox {
    -fx-background-color: #bbada0;
    -fx-padding: 10 25 10 25;
    -fx-background-radius: 3;
    -fx-border-radius: 3;
}
.titScore {
    -fx-font-size: 13px;
    -fx-text-fill: #eee4da;
}
.score {
    -fx-font-size: 25px;
    -fx-text-fill: white;
}
.points {
    -fx-font-size: 25px;
    -fx-text-fill: rgba(119, 110, 101, 0.9);
}
.backGrid {
    -fx-background-color: #bbada0;
    -fx-border-color: #bbada0; 
    -fx-border-width: 2; 
    -fx-background-radius: 6;
    -fx-border-radius: 6;
}
.grid {
    -fx-background-color: #bbada0; 
    -fx-background-radius: 3;
    -fx-border-radius: 3;
}
.grid-cell {
    -fx-fill: #cdc1b4;
    -fx-stroke-width: 14px;
    -fx-stroke-type: centered;
    -fx-stroke: #BBADA0;
}

.label {
    -fx-font-smoothing-type: lcd;
    -fx-smooth: true;
    -fx-font-weight: bold;
    -fx-font-family: 'sans-serif';
}

.title {
    -fx-font-size: 80px;
    -fx-text-fill: #776e65;
}
.subtitle {
    -fx-font-size: 40px;
    -fx-text-fill: #f2b179; // f9f6f2
    -fx-effect: dropshadow( three-pass-box, rgba(243, 215, 116, 1), 10, 0.5, 0, 0 );
}
.over {
    -fx-opacity: 0.6;
    -fx-background-color: #f9f6f2;
    -fx-border-color: #f9f6f2; 
    -fx-border-width: 2; 
    -fx-background-radius: 6;
    -fx-border-radius: 6;
}
.lblOver {
    -fx-font-size: 60px;
    -fx-text-fill: #776e65;
}
.won {
    -fx-font-size: 60px;
    -fx-text-fill: #f9f6f2;
    -fx-background-color: rgba(237, 194, 46, 0.5);
    -fx-border-color: #f9f6f2; 
    -fx-border-width: 2; 
    -fx-background-radius: 6;
    -fx-border-radius: 6;
}
.lblWon {
    -fx-font-size: 60px;
    -fx-text-fill: #f9f6f2;
}
.over {
    -fx-font-size: 60px;
    -fx-text-fill: #776e65;
    -fx-opacity: 0.6;
    -fx-background-color: #f9f6f2;
    -fx-border-color: #f9f6f2; 
    -fx-border-width: 2; 
    -fx-background-radius: 6;
    -fx-border-radius: 6;
}
.try { 
    -fx-font-size: 30px;
    -fx-text-fill: white;
    -fx-background-color: #8f7a66;
    -fx-border-color: #8f7a66; 
    -fx-border-width: 2; 
    -fx-background-radius: 3;
    -fx-border-radius: 3;
    -fx-padding: 6 20 12 20;
}
.try:pressed {
    -fx-padding: 4 22 12 22;
}
.tile-2    { 
    -fx-font-size: 55px;
    -fx-text-fill: #776e65;
    -fx-background-color: #eee4da; 
    -fx-background-radius: 3;
    -fx-border-radius: 3;
}
.tile-4    { 
    -fx-font-size: 55px;
    -fx-text-fill: #776e65;
    -fx-background-color: #ede0c8; 
    -fx-background-radius: 3;
    -fx-border-radius: 3;
}
.tile-8    { 
    -fx-font-size: 55px;
    -fx-text-fill: #f9f6f2;
    -fx-background-color: #f2b179; 
    -fx-background-radius: 3;
    -fx-border-radius: 3;
}
.tile-16   { 
    -fx-font-size: 55px;
    -fx-text-fill: #f9f6f2;
    -fx-background-color: #f59563; 
    -fx-background-radius: 3;
    -fx-border-radius: 3;
}
.tile-32   { 
    -fx-font-size: 55px;
    -fx-text-fill: #f9f6f2;
    -fx-background-color: #f67c5f; 
    -fx-background-radius: 3;
    -fx-border-radius: 3;
}
.tile-64   { 
    -fx-font-size: 55px;
    -fx-text-fill: #f9f6f2;
    -fx-background-color: #f65e3b; 
    -fx-background-radius: 3;
    -fx-border-radius: 3;
}
.tile-128  { 
    -fx-font-size: 45px;
    -fx-text-fill: #f9f6f2;
    -fx-background-color: #edcf72; 
    -fx-background-radius: 3;
    -fx-border-radius: 3;
    -fx-effect: dropshadow( three-pass-box, rgba(243, 215, 116, 0.2381), 30, 0.5, 0, 0 );
    -fx-border-color: rgba(255, 255, 255, 0.14286);
    -fx-border-width: 1;
}
.tile-256  { 
    -fx-font-size: 45px;
    -fx-text-fill: #f9f6f2;
    -fx-background-color: #edcc61;
    -fx-background-radius: 3;
    -fx-border-radius: 3;
    -fx-effect: dropshadow( three-pass-box, rgba(243, 215, 116, 0.31746), 30, 0.5, 0, 0 );
    -fx-border-color: rgba(255, 255, 255, 0.19048);
    -fx-border-width: 1;
}
.tile-512  { 
    -fx-font-size: 45px;
    -fx-text-fill: #f9f6f2;
    -fx-background-color: #edc850; 
    -fx-background-radius: 3;
    -fx-border-radius: 3;
    -fx-effect: dropshadow( three-pass-box, rgba(243, 215, 116, 0.39683), 30, 0.5, 0, 0 );
    -fx-border-color: rgba(255, 255, 255, 0.2381);
    -fx-border-width: 1;
}
.tile-1024 { 
    -fx-font-size: 35px;
    -fx-text-fill: #f9f6f2;
    -fx-background-color: #edc53f; 
    -fx-background-radius: 3;
    -fx-border-radius: 3;
    -fx-effect: dropshadow( three-pass-box, rgba(243, 215, 116, 0.47619), 30, 0.5, 0, 0 );
    -fx-border-color: rgba(255, 255, 255, 0.28571);
    -fx-border-width: 1;
}
.tile-2048 { 
    -fx-font-size: 35px;
    -fx-text-fill: #f9f6f2;
    -fx-background-color: #edc22e; 
    -fx-background-radius: 3;
    -fx-border-radius: 3;
    -fx-effect: dropshadow( three-pass-box, rgba(243, 215, 116, 0.55556), 30, 0.5, 0, 0 );
    -fx-border-color: rgba(255, 255, 255, 0.33333);
    -fx-border-width: 1;
}
.tile-4096, .tile-8192, .tile-16384 { 
    -fx-font-size: 30px;
    -fx-text-fill: #f9f6f2;
    -fx-background-color: #3c3a32; 
    -fx-background-radius: 3;
    -fx-border-radius: 3;
}
